.next,
.prev {
  top: calc(50% - 0px);
  position: absolute;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 120px;
}

.prev {
  left: 120px;
  transform: scale(-1);
}

.image {
  top: calc(50% + 60px);
}
